<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//config.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--
    <typeAliases>
        <typeAlias type="com.yunat.goods.etl.dal.dataobject.AuctionBaseDO" alias="AuctionDO" />
   </typeAliases>-->

</configuration>